/venv
/htmlcov
/__pycache__
env.sh
.cache
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.egg-info/
dist/
build/
*.egg
*.coverage
.coverage.*
htmlcov/
.pytest_cache/
.admin.txt
.back.html
.debug.log
venv
